<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, max-width=1028px">
    <title>Mostrar Candidaturas</title>
</head>

<body>

<h1>Mostrar Alunos</h1>

<div th:each="aluno : ${alunos}">
    <div>
        <h2><td th:text="${aluno.getNome()}">Nome</td></h2>><br>
        <td th:text="${aluno.numero}">Numero</td>
        <td th:text="${aluno.contacto}">Contacto</td>
        <td th:text="${aluno.email}">Email</td>
        <td th:text="${aluno.media}">Media</td>
        <form name='f' th:action="@{/atribuir-aval}" method='POST'>
            <label for="NotaA">Nota A: </label>
            <input type="number" id="NotaA" name="NotaA"><br><br>

            <label for="NotaB">Nota B </label>
            <input type="number" id="NotaB" name="NotaB"><br><br>

            <label for="NotaFinal">Nota Final </label>
            <input type="number" id="NotaFinal" name="NotaFinal"><br><br>

            <label for="coments">Comentários </label>
            <input type="text" id="coments" name="coments"><br><br>

            <label for="numeroAluno">Numero de Aluno: </label>
            <input type="number" id="numeroAluno" name="numeroAluno" th:value="${aluno.numero}"><br><br>

            <td><input name="Atribuir Avaliação " type="submit" value="submit" /></td>
        </form>
    </div>
</div>
</body>

</html>