<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, max-width=1028px">
    <title>Mostrar Candidaturas</title>
</head>

<body>

<h1>Mostrar Alunos</h1>

<div th:each="aluno : ${alunos}">
    <div>
        <h2><a th:href="@{'/aluno-display/' + ${aluno.numero}}"><td th:text="${aluno.numero}">numero</td></a></h2>><br>
        <td th:text="${aluno.nome}">Nome</td>
    </div>
</div>
</body>

</html>