<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, max-width=1028px">
    <title>Mostrar Candidaturas</title>
</head>

<body>

<h1>Mostrar Alunos</h1>

<div th:each="aluno : ${alunos}">
    <div>
        <h2><td th:text="${aluno.getNome()}">Nome</td></h2>><br>
        <td th:text="${aluno.numero}">Numero</td>
        <td th:text="${aluno.contacto}">Contacto</td>
        <td th:text="${aluno.email}">Email</td>
        <td th:text="${aluno.media}">Media</td>
        <form name='f' th:action="@{/atribuir-estagio}" method='POST'>
            <label for="dataInicio">Data de Inicio: </label>
            <input type="text" id="dataInicio" name="dataInicio"><br><br>
            <label for="dataFim">Data de Fim: </label>
            <input type="text" id="dataFim" name="dataFim"><br><br>
            <label for="duracao">Duração do estagio (horas): </label>
            <input type="number" id="duracao" name="duracao"><br><br>

            <label for="numeroAluno">Numero de Aluno: </label>
            <input type="number" id="numeroAluno" name="numeroAluno" th:value="${aluno.numero}"><br><br>

            <label for="nomeProposta">Nome do Estagio: </label>
            <select id="nomeProposta" name="nomeProposta">
                <option value=""> -- </option>
                <option th:each="proposta : ${propostas}"
                        th:value="${proposta.getProposta().nomeEstagio}"
                        th:utext="${proposta.getProposta().nomeEstagio}"/>
            </select><br><br>
            <td><input name="Atribuir Estágio " type="submit" value="submit" /></td>
        </form>
    </div>
</div>
</body>

</html>