<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, max-width=1028px">
    <title>Aluno</title>
</head>

<body>

<h1>Perfil do aluno</h1>
    <div>
        <h2><td th:text="${aluno.nome}">Nome</td></h2>><br>
        <td th:text="${aluno.numero}">Numero</td><br>
        <td th:text="${aluno.contacto}">Contacto</td><br>
        <td th:text="${aluno.email}">Email</td><br>
        <td th:text="${aluno.media}">Media</td>

    </div>
</body>

</html>