<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:form="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, max-width=1028px">
    <title>Create Aluno</title>
</head>

<body>
<h1>Criar uma candidatura</h1>

<form name='f' th:object="${candidatura}" th:action="@{/create-candidatura}" method='POST'>
    <table>
        <tr>
            <td>Indique o número de Aluno:</td>
            <label for="numero">Numero Aluno: </label>
            <input type="number" id="numero" name="numero"><br><br>
            <td>Selecione o Estagio:</td>
            <td>
                <label for="nome1">Nome do Estagio: </label>
                <select id="nome1" name="nome1">
                    <option value=""> -- </option>
                    <option th:each="proposta : ${propostas}"
                            th:value="${proposta.nomeEstagio}"
                            th:utext="${proposta.nomeEstagio}"/>
                </select><br><br>
                <label for="nome2">Nome do Estagio: </label>
                <select id="nome2" name="nome2">
                    <option value=""> -- </option>
                    <option th:each="proposta : ${propostas}"
                            th:value="${proposta.nomeEstagio}"
                            th:utext="${proposta.nomeEstagio}"/>
                </select><br><br>
                <label for="nome3">Nome do Estagio: </label>
                <select id="nome3" name="nome3">
                    <option value=""> -- </option>
                    <option th:each="proposta : ${propostas}"
                            th:value="${proposta.nomeEstagio}"
                            th:utext="${proposta.nomeEstagio}"/>
                </select>

            </td>
        </tr>

        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>
</body>

</html>