<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, max-width=1028px">
    <title>Mostrar Candidaturas</title>
</head>

<body>

<h1>Mostrar Candidaturas</h1>
<div th:each="candidatura : ${candidaturas}">
    <div>
        <h2><td th:text="${candidatura.getAluno().getNome()}">Name</td></h2>>
        <td th:text="${candidatura.getAluno().getNumero()}">Numero</td>
        <br>
        <td th:text="${candidatura.getProposta().getNomeEstagio()}">Nome</td>

    </div>
</div>
</body>

</html>