<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, max-width=1028px">
    <title>Aluno</title>
</head>

<body>

<h1>Perfil da Empresa</h1>
    <div>
        <h2><td th:text="${empresa.nome}">Nome</td></h2>><br>
        <td th:text="${empresa.email}">Email</td><br>
        <td th:text="${empresa.contacto}">Contacto</td><br>
        <td th:text="${empresa.morada}">Morada</td><br>
        <td th:text="${empresa.NIF}">NIF</td>

    </div>
</body>

</html>