<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:form="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, max-width=1028px">
    <title>Create Aluno</title>
</head>

<body>
<h1>Criar uma candidatura</h1>

<form name='f' th:object="${estagio}" th:action="@{/atribuir-estagio}" method='POST'>
    <table>
        <tr>
            <td>Indique o número de Aluno:</td>
            <label for="numeroAluno">Numero Aluno: </label>
            <input type="number" id="numeroAluno" name="numeroAluno"><br><br>

            <label for="dataInicio">Data Inicio: </label>
            <input type="number" id="dataInicio" name="dataInicio"><br><br>

            <label for="dataFim">Data Fim: </label>
            <input type="number" id="dataFim" name="dataFim"><br><br>

            <label for="duracao">Duração: </label>
            <input type="number" id="duracao" name="duracao"><br><br>


            <label for="nome2">Propostas: </label>
            <select id="nome2" name="nome2">
                <option value=""> -- </option>
                <option th:each="aluno : ${alunos}"
                        th:value="${}"
                        th:utext="${}"/>
            </select><br><br>
        </tr>

        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>
</body>

</html>