<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, max-width=1028px">
    <title>Mostrar Alunos que se Candidataram a uma Proposta</title>
</head>

<body>

<h1>Ordem das candidaturas guardada</h1>

<div>
    <h2><a th:href="@{'/list-update-Propostas'}"><td>Voltar há página das propostas</td></a></h2>><br>
</div>

</html>