<!DOCTYPE HTML>
<html 	xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="https://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div sec:authorize="isAuthenticated()">
        <span style="color:white">Olá,  </span>
        <a th:href="@{|perfil/${#authentication.name}|}" th:method="get" sec:authentication="name"></a>
        <span style="padding-left: 10px; padding-right: 10px"> | </span>
        <form th:action="@{/logout}" method="post" style="display: inline-block;">
            <input type="submit" class="signOut" value="Logout">
        </form>
    </div>
    <a href="/criar-aluno">Criar aluno</a><br>
    <a href="/criar-colaborador">Criar Colaborador</a><br>
    <a href="/criar-tutor">Criar Tutor</a><br>
    <a href="/criar-proposta">Criar Proposta</a><br>
    <a href="/criar-empresa">Criar Empresa</a><br>
    <a href="/create-candidatura">Criar Candidatura</a><br>
    <a href="/list-propostas">Mostrar Propostas</a><br>
    <a href="/list-candidaturas">Mostrar Candidaturas</a><br>
    <a href="/list-alunos">Mostrar Alunos</a><br>
    <a href="/list-alunos-aval">Mostrar Alunos</a><br>
    <a href="/criar-fase">Página para mudança de fase</a><br>
    <a href="/list-update-Alunos">Listar e Atualizar Alunos</a><br>
    <a href="/list-update-Colaboradores">Listar e Atualizar Colaboradores</a><br>
    <a href="/list-update-Propostas">Listar e Atualizar Propostas</a><br>
    <a href="/list-update-Empresas">Listar e Atualizar Empresas</a><br>
    <a href="/list-update-Tutores">Listar e Atualizar Tutores</a><br>
    <a href="/list-ordered-propostas">Lista de Propostas Já Ordenadas pelas Empresas</a><br>


</body>
</html>