<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, max-width=1028px">
    <title>Mostrar Alunos</title>
</head>

<body>

<h1>Mostrar Alunos</h1>

<div th:each="aluno : ${alunos}">
    <div>
        <h2><a th:href="@{'/criar-aluno/' + ${aluno.id}}"><td th:text="${aluno.id}">id</td></a></h2>><br>
        <h2><a th:href="@{'/criar-aluno/' + ${aluno.id}}"><td th:text="${aluno.nome}">id</td></a></h2>><br>
        <h2><a th:href="@{'/list-aluno-candidatura/' + ${aluno.id}}"><td>Ver as Candidaturas deste Aluno</td></a></h2>><br>
        <h2>------------------------------------------------------------------------------------</h2>
    </div>
</div>
</body>

</html>