<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, max-width=1028px">
    <title>Lista de Propostas Já Ordenadas Pelas Empresas</title>
</head>

<body>

<h1>Lista de Propostas Já Ordenadas Pelas Empresas</h1>

<div th:each="Proposta : ${propostas}">
    <h2><a th:href="@{'/list-propostas-candidatura/'+ ${Proposta.getNomeEstagio()}}"><td th:text="${Proposta.getNomeEstagio()}">nomeEstagio</td></a></h2>><br>

    <h2>--------------------------------------------------------------</h2>
</div>
</body>

</html>