<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, max-width=1028px">
    <title>Mostrar Alunos que se Candidataram a uma Proposta</title>
</head>

<body>

<h1>Mostrar Alunos que se Candidataram a uma proposta</h1>

<div th:each="candidatura : ${candidaturas}">
    <h2><td th:text="${candidatura.getAluno().getNome()}">nome</td></h2>><br>
    <h2><td th:text="${candidatura.getAluno().getNumero()}">numero</td></h2><br>
    <h3>O aluno indicou que tem preferencia nesta proposta = <td th:text="${candidatura.getPreferenciasEstagios()}"></td></h3><br>
    <h2>------------------------------------------------------------------------------------------------------------------------------</h2>


</div>

<h2><a th:href="@{'/list-propostas-candidatura/'+ ${candidaturas[0].getProposta().getNomeEstagio()}+'/' + ${1}}"><td>Filtrar por pessoas que escolheram a sua proposta como 1a Opção</td></a></h2>><br>
<h2><a th:href="@{'/list-propostas-candidatura/'+ ${candidaturas[0].getProposta().getNomeEstagio()}+'/' + ${2}}"><td>Filtrar por pessoas que escolheram a sua proposta como 2a Opção</td></a></h2>><br>
<h2><a th:href="@{'/list-propostas-candidatura/'+ ${candidaturas[0].getProposta().getNomeEstagio()}+'/' + ${3}}"><td>Filtrar por pessoas que escolheram a sua proposta como 3a Opção</td></a></h2>><br>
<h2><a th:href="@{'/list-propostas-candidatura/'+ ${candidaturas[0].getProposta().getNomeEstagio()}}"><td>Mostrar todas as pessoas que escolheram a sua proposta</td></a></h2>><br>
</body>

</html>