<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, max-width=1028px">
    <title>Mostrar Colaboradores</title>
</head>

<body>

<h1>Mostrar Colaboradores</h1>

<div th:each="colaborador : ${colaboradores}">
    <div>
        <h2><a th:href="@{'/criar-colaborador/' + ${colaborador.email}}"><td th:text="${colaborador.email}">email</td></a></h2>><br>
        <h2><a th:href="@{'/criar-colaborador/' + ${colaborador.email}}"><td th:text="${colaborador.nome}">nome</td></a></h2>><br>
        <h2>--------------------------------------------------------------------</h2>
    </div>
</div>
</body>

</html>