<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, max-width=1028px">
    <title>Mostrar Propostas Associadas a uma Empresa</title>
</head>

<body>

<h1>Mostrar Propostas Associadas a uma Empresa</h1>

<div th:each="proposta : ${propostas}">
    <div>
        <h2><a th:href="@{'/criar-proposta/' + ${proposta.nomeEstagio}}"><td th:text="${proposta.nomeEstagio}">nomeEstagio</td></a></h2>><br>
    </div>
</div>
</body>

</html>