<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, max-width=1028px">
    <title>Mostrar Propostas</title>
</head>

<body>

<h1>Mostrar Propostas</h1>

<div th:each="proposta : ${propostas}">
    <div>
        <h2><a th:href="@{'/criar-proposta/' + ${proposta.nomeEstagio}}"><td th:text="${proposta.nomeEstagio}">nomeEstagio</td></a></h2>><br>
        <h2><td th:text="${proposta.getDescricao()}">descrição</td></h2>
        <h2><a th:href="@{'/list-to-order/' + ${proposta.getNomeEstagio()}}"> Ordenar as Candidaturas desta Proposta</a></h2>
        <h2><a th:href="@{'/list-propostas-candidatura/' + ${proposta.getNomeEstagio()}}"> Ver as Candidaturas a Esta Proposta</a></h2>
        <h2>----------------------------------------------------------------------------------------------</h2>
    </div>
</div>

<div>
    <h2><a th:href="@{'/list-ordered-propostas/'}"> Ver as propostas que já se encontram ordenadas</a></h2>
</div>
</body>

</html>