<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, max-width=1028px">
    <title>Mostrar Tutores</title>
</head>

<body>

<h1>Mostrar Tutores</h1>

<div th:each="tutor : ${tutores}">
    <div>
        <h2><a th:href="@{'/criar-tutor/' + ${tutor.email}}"><email th:text="${tutor.email}">id</email></a></h2>><br>
    </div>
</div>
</body>

</html>