<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, max-width=1028px">
    <title>Mostrar Candidaturas Associadas a um Aluno</title>
</head>

<body>

<h1>Mostrar Candidaturas Associadas a um Aluno</h1>

<div th:each="candidatura : ${candidaturas}">
    <div>
        <h2><a th:href="@{'/candidaturas-view/' + ${candidatura.candidaturaID}}"><td th:text="${candidatura.candidaturaID}">candidaturaID</td></a></h2>><br>
        <h2><a th:href="@{'/candidaturas-view/' + ${candidatura.candidaturaID}}"><td th:text="${candidatura.getProposta().getNomeEstagio()}">Proposta</td></a></h2>><br>
        <h2>---------------------------------------------------------</h2>
    </div>
</div>
</body>

</html>