<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, max-width=1028px">
    <title>Mostrar Empresas</title>
</head>

<body>

<h1>Mostrar Empresas</h1>

<div th:each="empresa : ${empresas}">
    <div>
        <h2><a th:href="@{'/criar-empresa/' + ${empresa.empresaID}}"><td th:text="${empresa.empresaID}">empresaID</td></a></h2>><br>
        <h2><a th:href="@{'/criar-empresa/' + ${empresa.empresaID}}"><td th:text="${empresa.getNome}">Nome</td></a></h2>><br>
        <h2><a th:href="@{'/list-propostas-empresa/' + ${empresa.empresaID}}"><td>Ver as propostas desta empresa</td></a></h2>><br>
        <h2>-----------------------------------------------------------------------------</h2>
    </div>
</div>
</body>

</html>