<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista para Ordenar os Alunos</title>
</head>
<body>

<h1>Lista para Ordenar os Alunos que Escolheram a sua Proposta</h1>

<form th:action="@{/list-to-order}"  method="post">
<div id="sortable">
<ul   th:each="candidatura: ${candidaturas}">
    <li>Número de Aluno: <td th:text="${candidatura.getAluno().getNumero()}"></td></li>
    <li>Nome de Aluno: <td th:text="${candidatura.getAluno().getNome()}"></td></li>
    <li>Número de Candidatura: <td th:text="${candidatura.getCandidaturaID()}"></td></li>
    <li>Registo Académico :<td th:text="${candidatura.getAluno().getRegistoAcademico()}"></td></li>
    <li>---------------------------------------------------------------------</li>
</ul>
</div>
    <label for="proposta">Escreva o nome da sua proposta: </label>
    <input type="String" id="proposta" name="proposta" ><br><br>

    <label for="ordem">Escreva os números de candidatura pela ordem que a sua empresa tem de preferência: </label>
    <input type="String" id="ordem" name="ordem" ><br><br>
    <input type="submit" value="Esta é a Ordem Desejada">
</form>



</body>
</html>