<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, max-width=1028px">
    <title>Mostrar Propostas</title>
</head>

<body>

<h1>Mostrar Propostas de Estágio</h1>
<div class="produto" th:each="proposta : ${propostas}">
    <div>
        <h2><td th:text="${proposta.nomeEstagio}">Name</td></h2>>
            <td th:text="${proposta.descricao}">Descrição</td>
            <td th:text="${proposta.tarefas}">Tarefas</td>
            <td th:text="${proposta.observacoes}">Observações</td>
            <td th:text="${proposta.ferramentas}">Ferramentas</td>
    </div>
</div>
</body>

</html>