<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, max-width=1028px">
    <title>Aluno</title>
</head>

<body>

<h1>Perfil de Tutor</h1>
    <div>
        <h2><td th:text="${tutor.nome}">Nome</td></h2>><br>
        <td th:text="${tutor.email}">Email</td><br>
        <td th:text="${tutor.contacto}">Contacto</td><br>
        <td th:text="${tutor.departamento}">Departamento</td><br>
        <td th:text="${tutor.escola}">Escola</td>

    </div>
</body>

</html>